<header class="header">
  <div class="container">
    <form class="search-form js-form" id="search-form">
      <a
        href="https://pixabay.com/"
        class="search-form__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./images/pixabay-logo.png"
          class="search-form__logo"
          alt="logo"
          width="200"
        />
      </a>

      <div class="search-wrapper">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button class="button form-button" type="submit">
          <img src="./images/search.png" alt="logo" />
          Search
        </button>
      </div>
    </form>
  </div>
</header>
